# Ignore les fichiers de build de Visual Studio
*.exe
*.obj
*.log
*.dll
*.pdb
*.ilk
*.idb
*.tlog
*.lastbuildstate
*.user
*.suo
*.ipch
*.aps
*.ncb
*.sdf
*.opensdf
*.sln.docstates
*.vcxproj.user
*.filters
*.vs/
*.vscode/
*.sln
*.a

# Ignore les dossiers de build
Debug/
Release/
x64/
x86/
